.detail__concert {
    &__wrapper {
        display: flex;
        width: 70vw;
        justify-content: space-around;
        background-color: white;
        padding: 20px 20px 20px 20px;
        border-radius: 7px;
    }

    &__inner__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 48%;
    }
    
    &__text {
        font-size: 1.5vw;
        font-family: 'VT323', 'nanumsquareround';
        letter-spacing: 1px;
        line-height: 1.5;
        & h1 {
            line-height: 1;
            font-size: 3vw;
        }
    }

    &__place {
        width: 100%;
        height: 300px;
        position: relative;
        margin-top: 10%;
    }

    &__youtube {
        width: 100%;
        height: 40vh;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.63);
    }
}

pre {
    white-space: pre-wrap;
}