.discover{
    &__wrapper {
        display: flex;
        width: 100%;
        height: 1000px;
        justify-content: center;
        align-items: center;
    }

    &__empty {
        display: flex;
        width: calc(50% - 600px);
        height: 60%;
        background-color: #e1e1e1;
        align-items: center;
        
        &__inner {
            display: inline-block;
            width: 100%;
            height: 95%;
            border-top: 3px solid #3d3d3d;
            border-bottom: 3px solid #3d3d3d;
        }
    }

    &__content {
        &__wrapper {
            display: flex;
            width: 1200px;
            height: 80%;
            background-color: white;
            justify-content: center;
            align-items: center;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
        }

        &__box {
            display: flex;
            width: 93%;
            height: 90%;
            border: solid 4px #6b10af;
            justify-content: center;
            align-items: center;

            &__inner {
                display: flex;
                width: calc(98% + 2px);
                height: 98%;
                border: solid 2px #6b10af;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
            }
        }

        &__title {
            display: flex;
            font-family: 'VT323', 'nanumsquareround';
            justify-content: center;
            align-items: center;
            font-size: 4.2vw;
            width: 115%;
            height: 20%;
            z-index: 1;
            color: white;
            background-color: #a16ac9;
        }

        &__item {
            &__list {
                display: flex;
                width: 90%;
                height: 65%;
                justify-content: space-between;
                align-items: center;
                flex-flow: row wrap;
            }

            &__1 {
                display: inline-block;
                width: 25%;
                height: 48%;
                background-color: #6b10af
            }

            &__2 {
                display: inline-block;
                width: 45%;
                height: 48%;
                background-color: #6b10af;
            }
        }
    }
}