.footer__wrapper {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 80px;
    letter-spacing: 20px;
}