p {
    margin: 0;
}
.main {
    &__wrapper {
        display: flex;
        width: 100%;
        height: 1300px;
        justify-content: center;
        align-items: center;
        font-family: 'VT323', 'nanumsquareround';
        flex-direction: column;
    }

    &__background__img {
        position: absolute;
        left: 0;
        height: 1300px;
        z-index: -1;
    }

    &__title {
        font-size: 5.3vw;
        margin-bottom: 60px;
        
        &__underbar {
            text-decoration: underline;
            letter-spacing: 8px;
        }
    }
    &__ticket{
        &__wrapper {
            display: flex;
            width: 1200px;
            height: 50%;
            background-color: white;
            justify-content: space-between;
        }

        &__input {
            display: flex;
            flex-direction: column;
            width: 75%;
            align-items: center;
        }

        &__date {
            float: right;
            margin-right: 4%;
            letter-spacing: 0px;
        }
        
        &__title {
            letter-spacing: 15px;
            font-size: 2vw;
            width: 100%;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &__name {
            &__input {
                width: 90%;
                height: 45px;
                font-size: 1.8vw;
                border: none;
                font-family: 'VT323', 'nanumsquareround';
                padding: 2px 4px 2px 4px;
                border-bottom: 1px solid black;
            }

            &__wrapper {
                display: flex;
                width: 95%;
                height: 38%;
                border: 2px solid black;
                justify-content: space-around;
                align-items: center;
            }

            &__form {
                display: flex;
                border: 2px solid black;
                width: 80%;
                height: 90%;
                justify-content: space-around;
                align-items: center;
            }

            &__empty {
                display: inline-block;
                width: 8%;
                height: 90%;
                border: 2px solid black;
            }

        }

        &__form {
            &__wrapper {
                display: flex;
                width: calc(95% + 4px);
                height: 33%;
                margin-top: 1%;
                justify-content: space-between;
            }
            
            &__box {
                display: flex;
                width: 31.5%;
                height: 100%;
                border: 2px solid black;
                justify-content: center;
                align-items: center;

                &__inner {
                    display: flex;
                    width: 96%;
                    height: 93%;
                    border: 1px solid black;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__input {
                width: 80%;
                height: 30px;
                font-size: 1.2vw;
                border: none;
                font-family: 'VT323', 'nanumsquareround';
                padding: 2px 4px 2px 4px;
                border-bottom: 1px solid black;
            }
        }

        &__submit {
            display: flex;
            width: 25%;
            height: 100%;
            justify-content: center;
            align-items: center;

            &__box {
                display: flex;
                width: 80%;
                height: 80%;
                border: 2px solid black;
                justify-content: center;
                align-items: center;

                &__inner {
                    display: flex;
                    width: 95%;
                    height: 97%;
                    border: 1px solid black;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
                
                &__empty {
                    display: inline-block;
                    width: 80%;
                    height: 20%;
                    border: 1px solid black;
                }
            }

            &__button {
                display: flex;
                width: calc(80% + 2px);
                height: 50%;
                background-color: black;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &__img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}